header {
    text-align: center;
}

body {
    background-color: #0d1117;
    color: aliceblue;
}

article{
    width: 50%;
    float: left;
}

aside{
    width: 50%;
    float: right;
}

section{
    width: 100%;
    float: inline-end;
}